<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
</head>
<body>
<section class="content-header">
    <h1>底层资源管理</h1>
    <small>艾积分管理</small>
</section>
<section class="content table-content">

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <i class="fa fa-edit"></i>

                    <h3 class="box-title">高级搜索</h3>
                </div>
                <div class="box-body pad table-responsive">
                    <p>过滤条件</p>
                    <div  id="searchDiv" class="input-group col-md-6">
                        <input type="text" name="q" class="form-control" placeholder="Search..."/>
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table id="dataGrid"></table>
</section>
<div id="toolbar">
</div>
<div th:include="console/footer"></div>
</body>
<script type="text/javascript">
    $table = $("#dataGrid");
    $(function () {
        initDataGrid();

//        $("#searchDiv input[type="text"]").suggestion({
//            url:'/bazinga/suggestList',
//            FieldName:'keyword',
//            onCallback:function(item,data){
//                console.info(data);
//                item.empty();
//            }
//        });
    });
    function initDataGrid(){
        $table.bootstrapTable({
            height : tableModel.getHeight(),
            idField : "userId",
            columns : [[
                {title: "用户ID", align: 'center',field: "userId" },
                {title: "手机号码", align: 'center',field: "mobile"},
                {title: "用户名称",align: 'center', field: "userName"},
                {title: "缴纳总额(RMB)", align: 'center',field: "totalChargeRmbAmount", sortable: true},
                {title: "艾积分余额", align: 'center',field: "totalBalanceAmount", sortable: true},
                {title: "消费艾积分总额", align: 'center',field: "consumerAjbAmount", sortable: true},
                {title: "1219活动充值总额", align: 'center',field: "activity1219Info.totalAjbAmount", align: 'center'},
                {title: "已回收的艾积分", align: 'center',field: "totalRecoveryAjfAmount", align: 'center'},
                {title: "艾积分有效期", align: 'center',field: "endDate", align: 'center',formatter: getLocalTime},
                {title: "平衡性检查", align: 'center',field: "state",formatter : getState},
                {title: "操作", field: "operate", align: 'center', events: operateEvents, formatter: operateFormatter}
            ]],
            url : '/bazinga/ajf/list',
            queryParams: function(params){
                return params;
            },

            responseHandler : function (res) {
                return {
                    rows : res.result.pageInfo.list,
                    total : res.result.pageInfo.total
                }
            },
            search : true,
            searchOnEnterKey : true,
            pagination : true,
            sidePagination : 'server',
            pageSize: 10,
            pageList : [10, 40, 50, 100],
            toolbar : "#toolbar",
            showRefresh : true,
            showToggle : true
        });
    }

    function getLocalTime(value, row, index) {
        return new Date(parseInt(value)).toLocaleString().replace(/:\d{1,2}$/,' ');
    }

    function operateFormatter(value, row, index) {
        return [
            '<a href="/bazinga/ajf/detail/'+row.userId+'" >',
            '<i class="glyphicon glyphicon-edit"></i>查看详细',
            '</a>  ',
            '<a class="remove" href="javascript:void(0);">',
            '<i class="glyphicon glyphicon-check"></i>健康性检查',
            '</a> ',
            '<a class="remove" href="javascript:void(0);">',
            '<i class="glyphicon glyphicon-refresh"></i>刷新',
            '</a>'
        ].join('');
    }

    function getState(value, row, index) {
        return value==1 ? "健康" : value == 2 ? "亚健康": "异常";
    }

    window.operateEvents = {
        'click .remove': function (e, value, row, index) {
            operaModel.delRow(row.uid, '/console/admin/delete', 'uid');
        }
    };
</script>
<!--<script src="/static/js/jquery.suggestion.js"></script>-->
<!--<script src="/static/js/jquery-1.8.2.min.js"></script>-->
</html>